@media (max-width: 767px) {
.center {
    padding-left: 16px;
    padding-right: 16px;
    }

.main {
    grid-template-columns: repeat(4, 1fr);
}

.head {
    height: 735px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.main__catalog {
    height: 1221px;
}

.header__title {
    text-align: center;
    font-size: 32px;
}

.header__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.header__button {
    margin-top: 32px;
}

.game__box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header__title-box{
    padding-top: 51px;
    font-size: 32px;
    text-align: center;
}

.img{
    padding-top: 64px;
}

.vector{
    width: 344px;
    height: 236px;
}

.game__box_second {
    display: flex;
    align-content: space-between;
    height: 800px;
    background-image: url(./img/background_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}

.header__title-box_second{
    display: flex;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 51px;
}

.header__text_second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 32px;

}
}